@import 'splitpanes/dist/splitpanes.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.btn {
  --at-apply: px-4 py-1 rounded inline-block --at-apply: bg-teal-600 text-white cursor-pointer --at-apply: hover:bg-teal-700 --at-apply: disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  --at-apply: 'inline-block cursor-pointer select-none !outline-none';
  --at-apply: opacity-75 transition duration-200 ease-in-out;
  --at-apply: hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
  height: 1.2em;
}

.CodeMirror {
  height: max-content !important;
  font-family: var(--cm-font-family) !important;
  font-size: 13px !important;
}

.CodeMirror-scroll {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}


/* Splitpanes */
.splitpanes__splitter {
  position: relative;
}

.splitpanes__splitter:before {
  position: absolute;
  left: 0;
  top: 0;
  transition: .2s ease;
  content: '';
  transition: opacity 0.4s;
  z-index: 1;
}

.splitpanes__splitter:hover:before {
  background: #8881;
  opacity: 1;
}

.splitpanes--vertical>.splitpanes__splitter {
  width: 0 !important;
}

.splitpanes--horizontal>.splitpanes__splitter {
  height: 0 !important;
}

.splitpanes--vertical>.splitpanes__splitter:before {
  left: -5px;
  right: -4px;
  height: 100%;
}

.splitpanes--horizontal>.splitpanes__splitter:before {
  top: -5px;
  bottom: -4px;
  width: 100%;
}
